/*
 * botui 0.3.4
 * A JS library to build the UI for your bot
 * https://botui.org
 *
 * Copyright 2017, Moin Uddin
 * Released under the MIT license.
*/

a.botui-message-content-link:focus {
    outline: thin dotted
}

a.botui-message-content-link:focus:active, a.botui-message-content-link:focus:hover {
    outline: 0
}

form.botui-actions-text {
    margin: 0
}

button.botui-actions-buttons-button, input.botui-actions-text-input {
    margin: 0;
    font-size: 100%;
    line-height: normal;
    vertical-align: baseline
}

button.botui-actions-buttons-button::-moz-focus-inner, input.botui-actions-text-input::-moz-focus-inner {
    border: 0;
    padding: 0
}

button.botui-actions-buttons-button {
    cursor: pointer;
    -webkit-appearance: button
}

.botui-app-container {
    width: 100%;
    height: 100%;
    line-height: 1
}

@media (min-width:400px) {
    .botui-app-container {
        width: 100%;
        height: 500px;
        margin: 0 auto
    }
}

.botui-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden
}

.botui-message {
    margin: 10px 0;
    height: auto;
}

.botui-message-content {
    width: auto;
    max-width: 85%;
    display: inline-block
}

.botui-message-content.human {
    float: right
}

.botui-message-content iframe {
    width: 100%
}

.botui-message-content-image {
    margin: 5px 0;
    display: block;
    max-width: 200px;
    max-height: 200px
}

.botui-message-content-link {
    text-decoration: underline
}

.botui-actions-buttons-button + .botui-actions-buttons-button {
    margin-left: 10px
}

@media (min-width:400px) {
    .botui-actions-text-submit {
        display: none
    }
}

/*
  Default theme for BotUI
*/

.botui-container {
    font-size: 14px;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.botui-messages-container {
    padding: 10px 20px;
}

.botui-actions-container {
    padding: 10px 20px;
}

/*.botui-message {
    min-height: 30px;
}*/

.botui-message-content {
    padding: 7px 13px;
    border-radius: 15px;
    color:#595a5a;
    background-color: #ebebeb
}

.botui-message-content.human {
    color: #f7f8f8;
    background-color: #919292
}

.botui-message-content.text {
    line-height: 1.3
}

.botui-message-content.loading {
    background-color: rgba(206,206,206,.5);
    line-height: 1.3;
    text-align: center
}

.botui-message-content.embed {
    padding: 5px;
    border-radius: 5px
}

.botui-message-content-link {
    color: #919292
}

.botui-actions-text-input {
    border: 0;
    outline: 0;
    border-radius: 0;
    padding: 5px 7px;
    font-family: "Open Sans",sans-serif;
    background-color: transparent;
    color: #595a5a;
    border-bottom: 1px solid #919292
}

.botui-actions-text-submit {
    color: #fff;
    width: 30px;
    padding: 5px;
    height: 30px;
    line-height: 1;
    border-radius: 50%;
    border: 1px solid #919292;
    background: #777979
}

.botui-actions-buttons-button {
    border: 0;
    color: #fff;
    line-height: 1;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 15px;
    border-radius: 4px;
    font-family: "Open Sans",sans-serif;
    background: #777979;
    box-shadow: 2px 3px 4px 0 rgba(0,0,0,.25)
}

.slide-fade-enter-active {
    transition: all .3s ease
}

.slide-fade-enter, .slide-fade-leave-to {
    opacity: 0;
    transform: translateX(-10px)
}

.dot {
    width: .5rem;
    height: .5rem;
    border-radius: .5rem;
    display: inline-block;
    background-color: #919292
}

    .dot:nth-last-child(1) {
        margin-left: .3rem;
        animation: loading .6s .3s linear infinite
    }

    .dot:nth-last-child(2) {
        margin-left: .3rem;
        animation: loading .6s .2s linear infinite
    }

    .dot:nth-last-child(3) {
        animation: loading .6s .1s linear infinite
    }

@keyframes loading {
    0% {
        transform: translate(0,0);
        background-color: #ababab
    }

    25% {
        transform: translate(0,-3px)
    }

    50% {
        transform: translate(0,0);
        background-color: #ababab
    }

    75% {
        transform: translate(0,3px)
    }

    100% {
        transform: translate(0,0)
    }
}
.demo-page {
    margin: auto;
    border: 3px solid #009fda;
    padding: 10px;
    position: absolute;
    top: 5%;
    left: 5%;
}

.initiate-bot {
    background-color: #009fda;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
 * Chatbot CSS
 * 
*/

/*html {
    --primary-background: #009fda;
    --primary-font: Open Sans;
    --link-color: #69be28;
    --human-message-color: #edeceb;
    --human-text-color: black;
    --bot-text-color: #ffffff;
    --border-color: #e1e0de;
}*/

* {
    box-sizing: border-box;
}

/*Button to open the chat bot*/
#open-chat-bot {
    position: fixed;
    bottom: 0;
    right: 0px;
    max-height: 15%;
    max-width: 15%;
}

/*Link to close the chat both*/
#close-chat-bot {
    cursor: pointer;
    font-weight: 1000;
    float: right;
    padding: 3px 3px 0 0;
    font-size: 20px;
}

/* Chatbot Setup */
.chat-box {
    border: 1px solid lightgrey;
    font-family: "Open Sans", sans-serif !important;
    background: white;
    color: grey;
}

/*Remove Outline from buttons*/
#open-chat-bot,
.chat-box button,
.chat-box .userEntryText:focus {
    outline: none;
}

/*Header Styling*/
.chat-box .chat-header {
    background-color: #009fda;
    color: #ffffff;
    padding: 2%;
    border-bottom: 1px solid white;
}

.chat-box .chat-header-content {
    padding-top: 2%;
    height: 93%;
}


.chat-box .chat-bot-name {
    margin-left: 15%;
    padding-left: 5%;
    padding-right: 5%;
}

    .chat-box .chatbot-image {
        max-height:100%
    }

    .chat-box .chat-bot-image-div {
        width: 15%;
        padding-left: 3%;
        float: left;
        height: 100%;
    }

    .chat-box .chat-label-1line{
        display: none;
    }
    /*Message Tails*/
    .chat-box .botui-message-content:not(.human):not(.link):after {
        content: '';
        left: -31px;
        bottom: 10px;
        position: absolute;
        border: 0px solid;
        display: block;
        width: 34px;
        height: 18px;
        background-color: transparent;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        box-shadow: 18px 3px 0px 2px #009fda;
        z-index: -10;
    }

    .chat-box .botui-message-content.human:after {
        content: '';
        right: -33px;
        bottom: 10px;
        position: absolute;
        border: 0px solid;
        display: block;
        width: 34px;
        height: 18px;
        background-color: transparent;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        box-shadow: -18px 2px 0px 2px #edeceb;
        z-index: -10;
    }

/* BotUI Message Styling*/
.botui-message {
    margin: 20px 0 20px 0 !important;
}

.chat-box .botui-message-content{
    word-wrap: break-word;
}

    .chat-box .botui-message-content:not(.link) {
        color: white !important;
        background-color: #009fda !important;
        border-radius: 8px !important;
        position: relative;
        z-index: 0;
    }

    .chat-box .botui-message-content.human {
        color: black !important;
        background-color: #edeceb !important
    }

    .chat-box .botui-message-content.link,
    .chat-box .botui-actions-buttons-button {
        background-color: #ffffff;
        border: 1px solid #e1e0de;
        box-shadow: none !important;
    }

    .chat-box .botui-container a,
    .chat-box .botui-actions-buttons-button {
        color: #69be28 !important;
        border-radius: 15px !important;
    }


    .fa-external-link {
        margin-right: 3px;
    }

.chat-box .botui-actions-container {
    padding-top: 0 !important;
    font-family: "Open Sans", sans-serif;
}

    /* ChatBot Box Layout*/
.chat-box #userEntryForm {
    border-top: 1px solid #e1e0de;
    border-right: none;
    border-left: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 10%;
    position: absolute;
}

.chat-box .userEntryText {
    width: 100%;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding: 2% 0 0 3%;
    height: 100%;
    resize: none;
}

/* Card */
    .chat-box .card {
        transition: 0.3s;
        width: 100%;
        overflow: hidden;
        border: 1px solid #e1e0de;
        border-radius: 8px !important;
    }

        .chat-box .card .card-header {
            overflow: hidden;
            background: #009fda;
            color: #ffffff;
            width: 100%
        }

        .chat-box .card .card-image {
            display: block;
            width: 100%;
            max-height: 150px;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .chat-box .card .card-title {
            padding: 10px 16px 10px 16px;
        }

        .chat-box .card .card-title-text {
            font-weight: 400;
            font-size: 13px;
            line-height: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }

        .chat-box .card .card-subtitle {
            padding-top: 0;
            font-size: 10px;
            line-height: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }

        .chat-box .card .card-content,
        .chat-box .card-description {
            padding: 16px 16px 5px 16px;
        }

        .chat-box .card .card-btn {
            margin: 0;
            width: 100%;
            background-color: transparent;
            text-align: left;
            border: none;
            line-height: 30px;
            text-transform: uppercase;
            outline: none;
        }

    .chat-box .card-link {
        text-align: left;
        padding: 10px;
        font-weight: 400;
    }

    .chat-box .card-description {
        overflow: hidden;
        max-width: 260px;
        text-align: left;
    }

/* Buttons */

    /*Hover Styles - Commenting Out for now
    .chat-box .suggestion-btn:hover,
    .chat-box .card button:hover,
    .chat-box .link-btn:hover {
        cursor: pointer;
        background-color: rgba(158,158,158,0.2) !important;
    }

    .chat-box .suggestion-btn:active,
    .chat-box .card button:active,
    .chat-box .link-btn:active {
        background-color: rgba(100,100,100,0.2) !important;
    }
*/

/* Link */
.chat-box .link-btn {
    margin: 0;
    background-color: transparent;
    text-align: center;
    border: none;
    line-height: 30px;
    border-radius: 15px;
    cursor: pointer;
}

        .chat-box .link-btn span {
            padding: 0 10px 0 10px;
        }

/* List */
    .chat-box .list-title {
        padding: 16px;
    }

    .chat-box .list-item {
        border-bottom: 1px solid #e1e0de;
    }

.chat-box .list-item-btn {
    margin: 8px;
    width: 100%;
    background-color: transparent;
    text-align: left;
    border: none;
    outline: none;
    color: #69be28 !important;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

    .chat-box .list-item-inner {
        padding: 0 16px;
        display: flex;
        margin-top: 5px;
        margin-bottom: 5px;
        align-items: center;
    }

    .chat-box .list-item-img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: none;
    }

    .chat-box .list-item-inner div {
        padding-left: 15px;
    }

/*CAROUSEL*/
    .chat-box .carousel {
        min-height: 30px;
        margin: 10px 0;
    }
    .chat-box .carousel-image {
        display: block;
        max-width: 325px;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 200px;
    }

    .chat-box .browse-carousel {
        display: none;
    }

        .chat-box .browse-carousel.slick-initialized {
            display: block;
            vertical-align: bottom;
        }

.chat-box .botui-actions-container .list {
    overflow: hidden;
    border-width: 1px 1px 0 1px;
    border-color: #e1e0de;
    border-style: solid;
    border-radius: 8px !important;
    max-width: 75%;
}


/***********DESKTOP ONLY STYLES*************/
@media screen and (min-width: 768px) {

    /*Chat Box Setup*/
    .chat-box {
        position: fixed;
        bottom: 0;
        right: 5%;
        display: none;
        height: 475px;
        width: 400px;
    }

        .chat-box #AudioButton {
            display: none !important;
        }

        .chat-box .botui-app-container {
            height: 75% !important;
        }

        /*Header Div Setup*/
        .chat-box .chat-header {
            height: 15%
        }

        .chat-box .small-text {
            font-size: 13px;
        }

        .chat-box #userEntryForm {
            height: 10%;
        }

    /*Styling for the Browse Carousel Response*/
    .chat-box .browse-carousel.slick-initialized .slick-slide {
        display: inline-block;
        float: none;
        border: 1px solid white;
        margin: 10px 10px;
        outline: none;
    }

    .chat-box .pre {
        width: 25px !important;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -23px;
        z-index: 2;
        margin: auto;
    }

    .chat-box .next {
        width: 25px !important;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -24px;
        z-index: 2;
        margin: auto;
    }
}


/***********MOBILE ONLY STYLES*************/
@media screen and (max-width: 768px) {

    /*For mobile styling, we want to take up the whole screen*/
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        -webkit-text-size-adjust: 100%;
    }

    .chat-box #AudioButton {
        color: #009fda;
        padding-left: 1%;
        vertical-align: bottom;
        cursor: pointer;
    }

    .chat-box .botui-message-content.text {
        cursor: pointer;
    }

    /*Chat Box Setup*/
    .chat-box {
        width: 100%;
        height: 100%;
        position: fixed;
        display: none;
    }

    .chat-box .botui-app-container {
        height: 80% !important;
        width: 100%;
    }

    /*Header Div Setup*/
    .chat-box .chat-header {
        height: 13%;
        box-sizing: content-box;
        padding: 0 !important;
    }

    .chat-box .chat-header-content {
        height: 86%;
        padding: 2%;
    }

    .chat-box #userEntryForm {
        height: 7%;
    }

    .chat-box .userEntryText,
    .botui-container,
    .card-title-text {
        font-size: 1.25em !important;
    }

    .chat-box .chat-bot-name label {
        font-size: 4.25vw !important;
    }

    .chat-box .chat-bot-image-div {
        text-align: right;
    }

    /*Styling for the Browse Carousel Response*/
    .chat-box .browse-carousel.slick-initialized .slick-slide {
        display: inline-block;
        float: none;
        margin: 5px 3px;
        outline: none;
    }

    .chat-box .pre {
        display: none !important;
    }

    .chat-box .next {
        display: none !important;
    }
}

@media screen and (orientation:portrait) and (max-width: 768px) {
    html, body {
        -webkit-text-size-adjust: 100%;
    }
}

    @media screen and (orientation:landscape) and (max-width: 768px) {
        .chat-box .botui-app-container {
            height: 76% !important;
        }

        .chat-box #userEntryForm {
            height: 11%;
        }

        .chat-box .userEntryText {
            padding: 0 0 0 2%;
        }

        .chat-box .chat-label-1line {
            display: inline;
        }

        .chat-box .chat-label-2line {
            display: none;
        }

        .chat-box .chat-bot-name {
            padding-left: 0;
        }

        .chat-box .chat-header-content {
            padding: 1% 0 0 0;
        }

        .chat-box .chat-bot-name label {
            font-size: 2.75vw !important;
        }
    }


    /***********SCROLLBAR*************/

    .simplebar .simplebar-scroll-content,
    [data-simplebar] .simplebar-scroll-content,
    #userEntryForm {
        -ms-overflow-style: none; /*hide browser scrollbar on IE10+ */
    }

    [data-simplebar] {
        position: relative;
        z-index: 0;
        overflow: hidden !important;
        max-height: inherit;
        -webkit-overflow-scrolling: touch; /* Trigger native scrolling for mobile, if not supported, plugin is used. */
    }

    [data-simplebar="init"] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .simplebar-scroll-content {
        overflow-x: hidden !important;
        overflow-y: scroll;
        min-width: 100% !important;
        max-height: inherit !important;
        -webkit-box-sizing: content-box !important;
        box-sizing: content-box !important;
    }

    .simplebar-content {
        overflow-y: hidden !important;
        overflow-x: scroll;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
        min-height: 100% !important;
    }

    .simplebar-track {
        z-index: 1;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 11px;
    }

    .simplebar-scrollbar {
        position: absolute;
        right: 2px;
        width: 7px;
        min-height: 10px;
    }

        .simplebar-scrollbar:before {
            position: absolute;
            content: "";
            background: black;
            border-radius: 7px;
            left: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: opacity 0.2s linear;
            transition: opacity 0.2s linear;
        }

    .simplebar-track:hover .simplebar-scrollbar:before,
    .simplebar-track .simplebar-scrollbar.visible:before {
        /* When hovered, remove all transitions from drag handle */
        opacity: 0.5;
        -webkit-transition: opacity 0 linear;
        transition: opacity 0 linear;
    }

    .simplebar-track.vertical {
        top: 0;
    }

        .simplebar-track.vertical .simplebar-scrollbar:before {
            top: 2px;
            bottom: 2px;
        }

    .simplebar-track.horizontal {
        display: none;
        left: 0;
        width: auto;
        height: 11px;
    }

        .simplebar-track.horizontal .simplebar-scrollbar:before {
            display: none;
            height: 100%;
            left: 2px;
            right: 2px;
        }

    .horizontal.simplebar-track .simplebar-scrollbar {
        right: auto;
        top: 2px;
        height: 7px;
        min-height: 0;
        min-width: 10px;
        width: auto;
    }

    /*************IE STYLES*********************/
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        .chat-box .chat-bot-image-div {
            overflow: hidden;
        }

        .chat-box .chatbot-image {
            /*margin-left: -30px;*/
            height: 50px;
            width: 46px;
        }

        .botui-messages-container {
            padding-right: 30px;
        }
    }

    @media screen and (min-width: 768px),(-ms-high-contrast: none), (-ms-high-contrast: active) {
        .chat-box .next {
            right: -19px;
        }
    }

    /*************MICROSOFT EDGE STYLES*********************/
    @supports (-ms-ime-align:auto) {
        /* IE10+ CSS styles go here */
        .chat-box .chat-bot-image-div {
            overflow: hidden;
        }

        .chat-box .chatbot-image {
            /*margin-left: -30px;*/
            height: 50px;
            width: 46px;
        }

        .botui-messages-container {
            padding-right: 30px;
        }

        .chat-box .next {
            right: -19px;
        }
    }
/*
 *  Brand Specific CSS
 * 
*/

/*
 *  Excelsior
 * 
*/

/* Chat Header*/
.excelsior .chat-box .chat-header {
    background-color: orange !important;
}

/* Card Header*/
.excelsior .chat-box .card .card-header {
    background: orange !important;
}

/* Bot Message Bubble */
.excelsior .chat-box .botui-message-content:not(.link) {
    background-color: orange !important;
}

.excelsior .chat-box .botui-message-content:not(.human):not(.link):after {
    box-shadow: 18px 3px 0px 2px orange !important;
}

/* User Message Bubble */
.excelsior .chat-box .botui-message-content.human:not(.link) {
    background-color: #edeceb !important;
}

.excelsior .chat-box .botui-message-content.human:after {
    box-shadow: -18px 2px 0px 2px #edeceb !important;
}

/* Links */
.excelsior .chat-box .botui-container a,
.excelsior .chat-box .botui-actions-buttons-button {
    color: orange !important;
}

.excelsior .chat-box .list-item-btn {
    color: orange !important;
}

/*
 *  SureBridge
 * 
*/

/* Chat Header*/
.surebridge .chat-box .chat-header {
    background-color: lightblue !important;
}

/* Card Header*/
.surebridge .chat-box .card .card-header {
    background: lightblue !important;
}

/* Bot Message Bubble */
.surebridge .chat-box .botui-message-content:not(.link) {
    background-color: lightblue !important;
}

.surebridge .chat-box .botui-message-content:not(.human):not(.link):after {
    box-shadow: 18px 3px 0px 2px lightblue !important;
}

/* User Message Bubble */
.surebridge .chat-box .botui-message-content.human:not(.link) {
    background-color: #edeceb !important;
}

.surebridge .chat-box .botui-message-content.human:after {
    box-shadow: -18px 2px 0px 2px #edeceb !important;
}

/* Links */
.surebridge .chat-box .botui-container a,
.surebridge .chat-box .botui-actions-buttons-button {
    color: lightblue !important;
}

.surebridge .chat-box .list-item-btn {
    color: lightblue !important;
}

/*
 *  Benefiter
 * 
*/

/* Chat Header*/
.benefiter .chat-box .chat-header {
    background-color: lightyellow !important;
}

/* Card Header*/
.benefiter .chat-box .card .card-header {
    background: lightyellow !important;
}

/* Bot Message Bubble */
.benefiter .chat-box .botui-message-content:not(.link) {
    background-color: lightyellow !important;
}

.benefiter .chat-box .botui-message-content:not(.human):not(.link):after {
    box-shadow: 18px 3px 0px 2px lightyellow !important;
}

/* User Message Bubble */
.benefiter .chat-box .botui-message-content.human:not(.link) {
    background-color: #edeceb !important;
}

.benefiter .chat-box .botui-message-content.human:after {
    box-shadow: -18px 2px 0px 2px #edeceb !important;
}

/* Links */
.benefiter .chat-box .botui-container a,
.benefiter .chat-box .botui-actions-buttons-button {
    color: lightyellow !important;
}

.benefiter .chat-box .list-item-btn {
    color: lightyellow !important;
}