/*
 * Chatbot CSS
 * 
*/

/*html {
    --primary-background: #009fda;
    --primary-font: Open Sans;
    --link-color: #69be28;
    --human-message-color: #edeceb;
    --human-text-color: black;
    --bot-text-color: #ffffff;
    --border-color: #e1e0de;
}*/

* {
    box-sizing: border-box;
}

/*Button to open the chat bot*/
#open-chat-bot {
    position: fixed;
    bottom: 0;
    right: 0px;
    max-height: 15%;
    max-width: 15%;
}

/*Link to close the chat both*/
#close-chat-bot {
    cursor: pointer;
    font-weight: 1000;
    float: right;
    padding: 3px 3px 0 0;
    font-size: 20px;
}

/* Chatbot Setup */
.chat-box {
    border: 1px solid lightgrey;
    font-family: "Open Sans", sans-serif !important;
    background: white;
    color: grey;
}

/*Remove Outline from buttons*/
#open-chat-bot,
.chat-box button,
.chat-box .userEntryText:focus {
    outline: none;
}

/*Header Styling*/
.chat-box .chat-header {
    background-color: #009fda;
    color: #ffffff;
    padding: 2%;
    border-bottom: 1px solid white;
}

.chat-box .chat-header-content {
    padding-top: 2%;
    height: 93%;
}


.chat-box .chat-bot-name {
    margin-left: 15%;
    padding-left: 5%;
    padding-right: 5%;
}

    .chat-box .chatbot-image {
        max-height:100%
    }

    .chat-box .chat-bot-image-div {
        width: 15%;
        padding-left: 3%;
        float: left;
        height: 100%;
    }

    .chat-box .chat-label-1line{
        display: none;
    }
    /*Message Tails*/
    .chat-box .botui-message-content:not(.human):not(.link):after {
        content: '';
        left: -31px;
        bottom: 10px;
        position: absolute;
        border: 0px solid;
        display: block;
        width: 34px;
        height: 18px;
        background-color: transparent;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        box-shadow: 18px 3px 0px 2px #009fda;
        z-index: -10;
    }

    .chat-box .botui-message-content.human:after {
        content: '';
        right: -33px;
        bottom: 10px;
        position: absolute;
        border: 0px solid;
        display: block;
        width: 34px;
        height: 18px;
        background-color: transparent;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        box-shadow: -18px 2px 0px 2px #edeceb;
        z-index: -10;
    }

/* BotUI Message Styling*/
.botui-message {
    margin: 20px 0 20px 0 !important;
}

.chat-box .botui-message-content{
    word-wrap: break-word;
}

    .chat-box .botui-message-content:not(.link) {
        color: white !important;
        background-color: #009fda !important;
        border-radius: 8px !important;
        position: relative;
        z-index: 0;
    }

    .chat-box .botui-message-content.human {
        color: black !important;
        background-color: #edeceb !important
    }

    .chat-box .botui-message-content.link,
    .chat-box .botui-actions-buttons-button {
        background-color: #ffffff;
        border: 1px solid #e1e0de;
        box-shadow: none !important;
    }

    .chat-box .botui-container a,
    .chat-box .botui-actions-buttons-button {
        color: #69be28 !important;
        border-radius: 15px !important;
    }


    .fa-external-link {
        margin-right: 3px;
    }

.chat-box .botui-actions-container {
    padding-top: 0 !important;
    font-family: "Open Sans", sans-serif;
}

    /* ChatBot Box Layout*/
.chat-box #userEntryForm {
    border-top: 1px solid #e1e0de;
    border-right: none;
    border-left: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 10%;
    position: absolute;
}

.chat-box .userEntryText {
    width: 100%;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding: 2% 0 0 3%;
    height: 100%;
    resize: none;
}

/* Card */
    .chat-box .card {
        transition: 0.3s;
        width: 100%;
        overflow: hidden;
        border: 1px solid #e1e0de;
        border-radius: 8px !important;
    }

        .chat-box .card .card-header {
            overflow: hidden;
            background: #009fda;
            color: #ffffff;
            width: 100%
        }

        .chat-box .card .card-image {
            display: block;
            width: 100%;
            max-height: 150px;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .chat-box .card .card-title {
            padding: 10px 16px 10px 16px;
        }

        .chat-box .card .card-title-text {
            font-weight: 400;
            font-size: 13px;
            line-height: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }

        .chat-box .card .card-subtitle {
            padding-top: 0;
            font-size: 10px;
            line-height: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }

        .chat-box .card .card-content,
        .chat-box .card-description {
            padding: 16px 16px 5px 16px;
        }

        .chat-box .card .card-btn {
            margin: 0;
            width: 100%;
            background-color: transparent;
            text-align: left;
            border: none;
            line-height: 30px;
            text-transform: uppercase;
            outline: none;
        }

    .chat-box .card-link {
        text-align: left;
        padding: 10px;
        font-weight: 400;
    }

    .chat-box .card-description {
        overflow: hidden;
        max-width: 260px;
        text-align: left;
    }

/* Buttons */

    /*Hover Styles - Commenting Out for now
    .chat-box .suggestion-btn:hover,
    .chat-box .card button:hover,
    .chat-box .link-btn:hover {
        cursor: pointer;
        background-color: rgba(158,158,158,0.2) !important;
    }

    .chat-box .suggestion-btn:active,
    .chat-box .card button:active,
    .chat-box .link-btn:active {
        background-color: rgba(100,100,100,0.2) !important;
    }
*/

/* Link */
.chat-box .link-btn {
    margin: 0;
    background-color: transparent;
    text-align: center;
    border: none;
    line-height: 30px;
    border-radius: 15px;
    cursor: pointer;
}

        .chat-box .link-btn span {
            padding: 0 10px 0 10px;
        }

/* List */
    .chat-box .list-title {
        padding: 16px;
    }

    .chat-box .list-item {
        border-bottom: 1px solid #e1e0de;
    }

.chat-box .list-item-btn {
    margin: 8px;
    width: 100%;
    background-color: transparent;
    text-align: left;
    border: none;
    outline: none;
    color: #69be28 !important;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

    .chat-box .list-item-inner {
        padding: 0 16px;
        display: flex;
        margin-top: 5px;
        margin-bottom: 5px;
        align-items: center;
    }

    .chat-box .list-item-img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: none;
    }

    .chat-box .list-item-inner div {
        padding-left: 15px;
    }

/*CAROUSEL*/
    .chat-box .carousel {
        min-height: 30px;
        margin: 10px 0;
    }
    .chat-box .carousel-image {
        display: block;
        max-width: 325px;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 200px;
    }

    .chat-box .browse-carousel {
        display: none;
    }

        .chat-box .browse-carousel.slick-initialized {
            display: block;
            vertical-align: bottom;
        }

.chat-box .botui-actions-container .list {
    overflow: hidden;
    border-width: 1px 1px 0 1px;
    border-color: #e1e0de;
    border-style: solid;
    border-radius: 8px !important;
    max-width: 75%;
}


/***********DESKTOP ONLY STYLES*************/
@media screen and (min-width: 768px) {

    /*Chat Box Setup*/
    .chat-box {
        position: fixed;
        bottom: 0;
        right: 5%;
        display: none;
        height: 475px;
        width: 400px;
    }

        .chat-box #AudioButton {
            display: none !important;
        }

        .chat-box .botui-app-container {
            height: 75% !important;
        }

        /*Header Div Setup*/
        .chat-box .chat-header {
            height: 15%
        }

        .chat-box .small-text {
            font-size: 13px;
        }

        .chat-box #userEntryForm {
            height: 10%;
        }

    /*Styling for the Browse Carousel Response*/
    .chat-box .browse-carousel.slick-initialized .slick-slide {
        display: inline-block;
        float: none;
        border: 1px solid white;
        margin: 10px 10px;
        outline: none;
    }

    .chat-box .pre {
        width: 25px !important;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -23px;
        z-index: 2;
        margin: auto;
    }

    .chat-box .next {
        width: 25px !important;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -24px;
        z-index: 2;
        margin: auto;
    }
}


/***********MOBILE ONLY STYLES*************/
@media screen and (max-width: 768px) {

    /*For mobile styling, we want to take up the whole screen*/
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        -webkit-text-size-adjust: 100%;
    }

    .chat-box #AudioButton {
        color: #009fda;
        padding-left: 1%;
        vertical-align: bottom;
        cursor: pointer;
    }

    .chat-box .botui-message-content.text {
        cursor: pointer;
    }

    /*Chat Box Setup*/
    .chat-box {
        width: 100%;
        height: 100%;
        position: fixed;
        display: none;
    }

    .chat-box .botui-app-container {
        height: 80% !important;
        width: 100%;
    }

    /*Header Div Setup*/
    .chat-box .chat-header {
        height: 13%;
        box-sizing: content-box;
        padding: 0 !important;
    }

    .chat-box .chat-header-content {
        height: 86%;
        padding: 2%;
    }

    .chat-box #userEntryForm {
        height: 7%;
    }

    .chat-box .userEntryText,
    .botui-container,
    .card-title-text {
        font-size: 1.25em !important;
    }

    .chat-box .chat-bot-name label {
        font-size: 4.25vw !important;
    }

    .chat-box .chat-bot-image-div {
        text-align: right;
    }

    /*Styling for the Browse Carousel Response*/
    .chat-box .browse-carousel.slick-initialized .slick-slide {
        display: inline-block;
        float: none;
        margin: 5px 3px;
        outline: none;
    }

    .chat-box .pre {
        display: none !important;
    }

    .chat-box .next {
        display: none !important;
    }
}

@media screen and (orientation:portrait) and (max-width: 768px) {
    html, body {
        -webkit-text-size-adjust: 100%;
    }
}

    @media screen and (orientation:landscape) and (max-width: 768px) {
        .chat-box .botui-app-container {
            height: 76% !important;
        }

        .chat-box #userEntryForm {
            height: 11%;
        }

        .chat-box .userEntryText {
            padding: 0 0 0 2%;
        }

        .chat-box .chat-label-1line {
            display: inline;
        }

        .chat-box .chat-label-2line {
            display: none;
        }

        .chat-box .chat-bot-name {
            padding-left: 0;
        }

        .chat-box .chat-header-content {
            padding: 1% 0 0 0;
        }

        .chat-box .chat-bot-name label {
            font-size: 2.75vw !important;
        }
    }


    /***********SCROLLBAR*************/

    .simplebar .simplebar-scroll-content,
    [data-simplebar] .simplebar-scroll-content,
    #userEntryForm {
        -ms-overflow-style: none; /*hide browser scrollbar on IE10+ */
    }

    [data-simplebar] {
        position: relative;
        z-index: 0;
        overflow: hidden !important;
        max-height: inherit;
        -webkit-overflow-scrolling: touch; /* Trigger native scrolling for mobile, if not supported, plugin is used. */
    }

    [data-simplebar="init"] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .simplebar-scroll-content {
        overflow-x: hidden !important;
        overflow-y: scroll;
        min-width: 100% !important;
        max-height: inherit !important;
        -webkit-box-sizing: content-box !important;
        box-sizing: content-box !important;
    }

    .simplebar-content {
        overflow-y: hidden !important;
        overflow-x: scroll;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
        min-height: 100% !important;
    }

    .simplebar-track {
        z-index: 1;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 11px;
    }

    .simplebar-scrollbar {
        position: absolute;
        right: 2px;
        width: 7px;
        min-height: 10px;
    }

        .simplebar-scrollbar:before {
            position: absolute;
            content: "";
            background: black;
            border-radius: 7px;
            left: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: opacity 0.2s linear;
            transition: opacity 0.2s linear;
        }

    .simplebar-track:hover .simplebar-scrollbar:before,
    .simplebar-track .simplebar-scrollbar.visible:before {
        /* When hovered, remove all transitions from drag handle */
        opacity: 0.5;
        -webkit-transition: opacity 0 linear;
        transition: opacity 0 linear;
    }

    .simplebar-track.vertical {
        top: 0;
    }

        .simplebar-track.vertical .simplebar-scrollbar:before {
            top: 2px;
            bottom: 2px;
        }

    .simplebar-track.horizontal {
        display: none;
        left: 0;
        width: auto;
        height: 11px;
    }

        .simplebar-track.horizontal .simplebar-scrollbar:before {
            display: none;
            height: 100%;
            left: 2px;
            right: 2px;
        }

    .horizontal.simplebar-track .simplebar-scrollbar {
        right: auto;
        top: 2px;
        height: 7px;
        min-height: 0;
        min-width: 10px;
        width: auto;
    }

    /*************IE STYLES*********************/
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        .chat-box .chat-bot-image-div {
            overflow: hidden;
        }

        .chat-box .chatbot-image {
            /*margin-left: -30px;*/
            height: 50px;
            width: 46px;
        }

        .botui-messages-container {
            padding-right: 30px;
        }
    }

    @media screen and (min-width: 768px),(-ms-high-contrast: none), (-ms-high-contrast: active) {
        .chat-box .next {
            right: -19px;
        }
    }

    /*************MICROSOFT EDGE STYLES*********************/
    @supports (-ms-ime-align:auto) {
        /* IE10+ CSS styles go here */
        .chat-box .chat-bot-image-div {
            overflow: hidden;
        }

        .chat-box .chatbot-image {
            /*margin-left: -30px;*/
            height: 50px;
            width: 46px;
        }

        .botui-messages-container {
            padding-right: 30px;
        }

        .chat-box .next {
            right: -19px;
        }
    }