﻿/*
 *  Brand Specific CSS
 * 
*/

/*
 *  Excelsior
 * 
*/

/* Chat Header*/
.excelsior .chat-box .chat-header {
    background-color: orange !important;
}

/* Card Header*/
.excelsior .chat-box .card .card-header {
    background: orange !important;
}

/* Bot Message Bubble */
.excelsior .chat-box .botui-message-content:not(.link) {
    background-color: orange !important;
}

.excelsior .chat-box .botui-message-content:not(.human):not(.link):after {
    box-shadow: 18px 3px 0px 2px orange !important;
}

/* User Message Bubble */
.excelsior .chat-box .botui-message-content.human:not(.link) {
    background-color: #edeceb !important;
}

.excelsior .chat-box .botui-message-content.human:after {
    box-shadow: -18px 2px 0px 2px #edeceb !important;
}

/* Links */
.excelsior .chat-box .botui-container a,
.excelsior .chat-box .botui-actions-buttons-button {
    color: orange !important;
}

.excelsior .chat-box .list-item-btn {
    color: orange !important;
}

/*
 *  SureBridge
 * 
*/

/* Chat Header*/
.surebridge .chat-box .chat-header {
    background-color: lightblue !important;
}

/* Card Header*/
.surebridge .chat-box .card .card-header {
    background: lightblue !important;
}

/* Bot Message Bubble */
.surebridge .chat-box .botui-message-content:not(.link) {
    background-color: lightblue !important;
}

.surebridge .chat-box .botui-message-content:not(.human):not(.link):after {
    box-shadow: 18px 3px 0px 2px lightblue !important;
}

/* User Message Bubble */
.surebridge .chat-box .botui-message-content.human:not(.link) {
    background-color: #edeceb !important;
}

.surebridge .chat-box .botui-message-content.human:after {
    box-shadow: -18px 2px 0px 2px #edeceb !important;
}

/* Links */
.surebridge .chat-box .botui-container a,
.surebridge .chat-box .botui-actions-buttons-button {
    color: lightblue !important;
}

.surebridge .chat-box .list-item-btn {
    color: lightblue !important;
}

/*
 *  Benefiter
 * 
*/

/* Chat Header*/
.benefiter .chat-box .chat-header {
    background-color: lightyellow !important;
}

/* Card Header*/
.benefiter .chat-box .card .card-header {
    background: lightyellow !important;
}

/* Bot Message Bubble */
.benefiter .chat-box .botui-message-content:not(.link) {
    background-color: lightyellow !important;
}

.benefiter .chat-box .botui-message-content:not(.human):not(.link):after {
    box-shadow: 18px 3px 0px 2px lightyellow !important;
}

/* User Message Bubble */
.benefiter .chat-box .botui-message-content.human:not(.link) {
    background-color: #edeceb !important;
}

.benefiter .chat-box .botui-message-content.human:after {
    box-shadow: -18px 2px 0px 2px #edeceb !important;
}

/* Links */
.benefiter .chat-box .botui-container a,
.benefiter .chat-box .botui-actions-buttons-button {
    color: lightyellow !important;
}

.benefiter .chat-box .list-item-btn {
    color: lightyellow !important;
}