﻿.demo-page {
    margin: auto;
    border: 3px solid #009fda;
    padding: 10px;
    position: absolute;
    top: 5%;
    left: 5%;
}

.initiate-bot {
    background-color: #009fda;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
